<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/dashbordModelo.css">
  <title>Unetec</title>
</head>

<body>
  <main>
    <section class="aba-padrao">
      <div class="aba-box1">
        <div class="logo">
          <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
        </div>
        <div class="opcoes">
          <button id="button-avisos" class="style-button1" onclick="window.location.href='/dashbordAvisosAluno'"><img
              src="/imagens/aviso-icon.svg" alt="avisos-icon">&nbsp;&nbsp;Avisos</button>
          <button id="button-home" class="style-button1" onclick="window.location.href='/dashbordAluno'"><img
              src="/imagens/home-icon.svg" alt="avisos-icon">&nbsp;&nbsp;Home</button>
          <button id="button-cardapio" class="style-button1"
            onclick="window.location.href='/dashbordCardapioAluno'"><img src="/imagens/cardapio-icon.svg"
              alt="avisos-icon">&nbsp;&nbsp;Cardápio</button>
        </div>
      </div>
      <div class="aba-box2">
        <button id="button-agenda" class="style-button1"><img src="/imagens/config-icon.svg"
            alt="config-icon">&nbsp;Config</button>
        <button id="button-agenda" class="style-button1"><img src="/imagens/conta-icon.svg"
            alt="conta-icon">&nbsp;Conta</button>
      </div>
    </section>
    <section class="dashbord">
      <div class="enblema">
        <h1>Etec Itaquera</h1>
      </div>
      <div class="setores">
        <h1>Setores</h1>
        <div class="setores-buttons">
          <button id="button-financeiro" class="style-button2"
            style="background: linear-gradient(to right,  #e61710, #000000);"><img src="/imagens/money-icon.svg"
              alt="money-icon">Financeiro</button>
          <button id="button-financeiro" class="style-button2"><img src="/imagens/sport-icon.svg"
              alt="sport-icon">Esportes</button>
          <button id="button-financeiro" class="style-button2"><img src="/imagens/fiscal-icon.svg"
              alt="fiscal-icon">Fiscal</button>
          <button id="button-financeiro" class="style-button2"><img src="/imagens/comun-icon.svg"
              alt="comunicacao-icon">Comun</button>
          <button id="button-financeiro" class="style-button2"><img src="/imagens/cultura-icon.svg"
              alt="cultura-icon">Cultura</button>
          <button id="button-financeiro" class="style-button2"><img src="/imagens/conta-icon.svg"
              alt="social-icon">Social</button>
          <button id="button-financeiro" class="style-button2"><img src="/imagens/academico-icon.svg"
              alt="academico-icon">Acadêmico</button>
        </div>
      </div>
      <div class="avisos">
        <h1>Tarefas</h1>
        <table class="tabela">
          <tr>
            <th style="background-color: #83cdff;">A Fazer</th>
            <th style="background-color: hsl(37, 100%, 74%)">Em andamento</th>
            <th style="background-color: #1eff7c">Concluído</th>
          </tr>
          <tr>
            <th>Conseguir Dinheiro</th>
            <th>Preparar Campanha</th>
            <th>Fazer Contabilidade</th>
          </tr>
        </table>

      </div>
    </section>

  </main>
</body>

</html>