<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/public/conta.css">
    <link rel="stylesheet" href="/css/models/variavies.css">

    <title>Unetec</title>
</head>

<body class="body">
    <nav>
        <button class="button-nav" onclick="window.location.href='/dashbordAluno'"><img src="/imagens/setaEsquerda-icon.svg"> Voltar</button>
    </nav>
    <div class="conteiner-logout">
        <div class="section-logo">
            <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
        </div>
        <p>Sair da sua conta</p>
        <div class="info-user">
            <img src="/imagens/userBig-icon.svg" alt="">
            <h1 class="text-name">Nome User</h1>
        </div>
        <div class="div-exit">
            <button class="button-exit" onclick="logout()">Sair</button>
            <a href="" style="color: brown;" onclick="outraConta(event)">Entrar com outra conta</a>
        </div>
    </div>
    <script src="/js/public/darkMode.js"></script>
    <script src="/js/public/conta.js"></script>
    <script src="/js/user/logout.js"></script>
</body>

</html>