<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/models/variavies.css">
    <link rel="stylesheet" href="/css/models/dashbordModel.css">
    <link rel="stylesheet" href="/css/user/dashbordAviso.css">
    <title>Unetec</title>
</head>

<body>
    <main>
        <section class="aba-padrao">
            <div class="aba-box1">
                <div class="logo">
                    <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
                </div>
                <div class="opcoes">
                    <button id="button-avisos" class="style-button1"
                        onclick="window.location.href='/dashbordAvisosAluno'"><img src="/imagens/aviso-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Avisos</button>
                    <button id="button-home" class="style-button1" onclick="window.location.href='/dashbordAluno'"><img
                            src="/imagens/home-icon.svg" alt="avisos-icon">&nbsp;&nbsp;Home</button>
                    <button id="button-cardapio" class="style-button1"
                        onclick="window.location.href='/dashbordCardapioAluno'"><img src="/imagens/cardapio-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Cardápio</button>
                    <button id="button-chat" class="style-button1" onclick="window.location.href='/dashbordChat'"><img
                            src="/imagens/chat-icon.svg" alt="conta-icon">&nbsp;Chat</button>
                </div>
            </div>
            <div class="aba-box2">
                <button id="button-agenda" class="style-button1" onclick="window.location.href='/dashbordConfig'"><img
                        src="/imagens/config-icon.svg" alt="config-icon">&nbsp;Config</button>
                <button id="button-agenda" class="style-button1" onclick="window.location.href='/dashbordConta'"><img
                        src="/imagens/conta-icon.svg" alt="conta-icon">&nbsp;Conta</button>
            </div>
        </section>
        <section class="dashbord">
            <div class="nav-tarefas">
                <h1>Avisos</h1>
                <div class="opcoes-button">
                    <button class="button-nav" id="button-geral" onclick="filtraAvisos('geral')">Geral</button>
                    <button class="button-nav" id="button-baixa" onclick="filtraAvisos('baixa')">Baixa urgência</button>
                    <button class="button-nav" id="button-media" onclick="filtraAvisos('media')">Média urgência</button>
                    <button class="button-nav" id="button-alta" onclick="filtraAvisos('alta')">Alta urgência</button>
                </div>
            </div>
            <div class="quadro-tarefas">
                <% avisos.forEach(aviso=> { %>
                    <div class="aviso-item">
                        <h2>
                            <%= aviso.titulo %>
                        </h2>

                        <p><strong>Descrição:</strong>
                            <%= aviso.descricao %>
                        </p>

                        <p><strong>Urgência:</strong>
                            <%= aviso.urgencia %>
                        </p>

                        <p><strong>Criado em:</strong>
                            <%= aviso.data.toLocaleDateString('pt-BR') %>
                        </p>
                    </div>
                    <% }) %>
            </div>
        </section>

    </main>
    <script src="/js/public/darkMode.js"></script>
    <script src="/js/user/avisos.js"></script>
</body>

</html>