@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-poppins);
}

:root {
    --pretao: black;
    --vermelhao: #ff3131;
    --vermelho-escuro: #ad3030;
    --brancolas: white;
    --cinzolas: #d9d9d9;
    --cinzao: #5f5f5f;
    --cinzaescurinho: #cfcfcf;
    --fonte-poppins: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #ad3030;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aba-padrao {
    width: 16%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    gap: 30%;
}

.aba-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.aba-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.logo {
    font-family: var(--fonte-poppins);

}

.letra-preta {
    color: var(--pretao);
}

.letra-vermelha {
    color: var(--vermelhao);
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.style-button1 {
    width: 249%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--brancolas);
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.style-button1:hover {
    background-color: var(--cinzolas);
}


.dashbord {
    width: 84%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cinzaescurinho);
    gap: 15px;
}

.nav-cardapio {
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--brancolas) solid 5px;
    border-radius: 1px;

}

.buttons-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.button-nav {
    width: 160px;
    height: 5vh;
    background-color: var(--vermelhao);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-family: var(--fonte-poppins);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.button-excluir {
    background-color: var(--pretao);
}

.button-nav:hover {
    background-color: var(--vermelho-escuro);
    font-size: 18.5px;
}

.div-dashbordCardapio {
    width: 95%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.div-table {
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 25px;
}


.tabela-cardapio {
    border: 2px solid #000;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    border-spacing: 0;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);


    th,
    td {
        border: 2px solid #000000;
        padding: 18px;
    }

    td {
        font-size: 16px;
    }
}

.th-dia {
    width: 0%;
}

.th-descricao {
    width: 1%;
}

.th-like {
    width: 0%;
}



.div-form {
    width: 100%;
    height: 19vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
    background-color: var(--brancolas);
    border-radius: 15px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
}

.form-text {
    width: 60%;

    h1 {
        font-size: 26px;
        margin-bottom: 13px;
    }

    p {
        font-size: 15px;
        text-align: start;
    }

}

.bnt-form {
    width: 177px;
    height: 6vh;
    background-color: var(--vermelhao);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-family: var(--fonte-poppins);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

}

.bnt-form:hover {
    background-color: var(--vermelho-escuro);
    font-size: 18.5px;
}