<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/public/login.css">
  <title>Unetec</title>
</head>

<body>
  <main>
    <section class="section-login">
      <section class="section-logo">
        <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
        <p>login</p>
      </section>
      <section class="section-form">
        <form method="post" id="form">
          <div class="div-inputs">
            <input id="email" class="inputs input-email" type="email" name="input-email " placeholder="Insira seu email"
              required>
          </div>
          <div class="div-inputs">
            <input id="senha" class="inputs input-senha" type="password" name="input-senha"
              placeholder="Insira sua senha" required>
            <a class="esqueceu-senha" href="">Esqueceu sua senha?</a>
          </div>
          <input type="submit" value="Enviar" class="button-submit">
        </form>
      </section>
    </section>
  </main>
  <script src="../../js/public/login.js"></script>
</body>

</html>