@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-poppins);
}

:root {
    --pretao: black;
    --vermelhao: #ff3131;
    --vermelho-escuro: #ad3030;
    --brancolas: white;
    --cinzolas: #d9d9d9;
    --cinzao: #5f5f5f;
    --cinzaescurinho: #cfcfcf;
    --fonte-poppins: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    color: var(--pretao);
}

main {
    width: 100%;
    height: 100vh;
    background-color: var(--vermelhao);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aba-padrao {
    width: 16%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--brancolas);
    gap: 30%;
}

.aba-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.aba-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.logo {
    font-family: var(--fonte-poppins);

}

.letra-preta {
    color: var(--pretao);
}

.letra-vermelha {
    color: var(--vermelhao);
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.style-button1 {
    width: 12rem;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--brancolas);
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 15px;
}

.style-button1:hover {
    background-color: var(--cinzolas);
    font-size: 17.3px;
}


.dashbord {
    width: 84%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cinzaescurinho);
    gap: 15px;
}

.nav-tarefas {
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--brancolas) solid 5px;
    border-radius: 1px;
    color: var(--pretao);

}

.opcoes-button {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.button-nav {
    width: 160px;
    height: 5vh;
    background-color: var(--vermelhao);
    color: var(--brancolas);
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-family: var(--fonte-poppins);
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: white;
}

.button-nav:hover {
    background-color: var(--vermelho-escuro);
    font-size: 18.3px;
}

#button-geral {
    background-color: black;
}


.quadro-tarefas {
    width: 95%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 15px;
}

.aviso-item {
    width: 98%;
    height: auto;
    background-color: var(--brancolas);
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(82, 82, 82, 0.4);
    border-radius: 10px;
}