@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-poppins);
}

:root {
    --pretao: black;
    --vermelhao: #ff3131;
    --vermelho-escuro: #ad3030;
    --brancolas: white;
    --cinzolas: #d9d9d9;
    --cinzao: #5f5f5f;
    --cinzaescurinho: #cfcfcf;
    --fonte-poppins: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #ad3030;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aba-padrao {
    width: 16%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--brancolas);
    gap: 30%;
}

.aba-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.aba-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.logo {
    font-family: var(--fonte-poppins);

}

.letra-preta {
    color: var(--pretao);
}

.letra-vermelha {
    color: var(--vermelhao);
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.style-button1 {
    width: 12rem;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--brancolas);
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.style-button1:hover {
    background-color: var(--cinzolas);
}


.dashbord {
    width: 84%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cinzaescurinho);
    gap: 15px;
}

.nav-cardapio {
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--brancolas) solid 5px;
    border-radius: 1px;
    color: var(--pretao);
}


.button-nav:hover {
    background-color: var(--vermelho-escuro);
    font-size: 18.5px;
}

.div-dashbordCardapio {
    width: 95%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.div-table {
    width: 100%;
    height: 50vh;
    background-color: var(--brancolas);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 25px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
}


.tabela-cardapio {
    border: 2px solid var(--pretao);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    border-spacing: 0;


    th,
    td {
        border: 2px solid var(--pretao);
        padding: 18px;
    }

    td {
        font-size: 16px;
    }
}

.th-dia {
    width: 0%;
}

.th-descricao {
    width: 1%;
}

.th-like {
    width: 0%;
}

.interacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.div-form {
    width: 56%;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 11%;
    background-color: var(--brancolas);
    border-radius: 15px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.form-text {
    width: 60%;

    h1 {
        font-size: 26px;
        margin-bottom: 13px;
    }

    p {
        font-size: 15px;
        text-align: start;
    }

}

.bnt-form {
    width: 177px;
    height: 6vh;
    background-color: var(--vermelhao);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-family: var(--fonte-poppins);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

}

.bnt-form:hover {
    background-color: var(--vermelho-escuro);
    font-size: 18.5px;
}

.like-cardapio {
    width: 38%;
    max-width: 40%;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--brancolas);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    padding: 10px;
    gap: 10%;
}

.like-text {
    width: 47%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 14px;


    h1 {
        font-size: 23px;
        text-align: right;
    }

    p {
        font-size: 15px;
        text-align: start;
    }
}

form {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.inputs {
    width: 116%;
    height: 6vh;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 6px;

}

.button-submit {
    width: 182px;
    height: 6vh;
    background-color: var(--vermelhao);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-family: var(--fonte-poppins);
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}