
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginicial.css">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <title>Unetec</title>
</head>
<body>
    <main>
        <header>
            <nav>
             <!-- div da logo-->
             <div class="logo"><h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1></div>
             <!--Div opcoes-->
             <div class="opcoes">
                <a  class="opcoes-a">Início</a>
                <a class="opcoes-a" href="">Sobre nós</a>
                <a class="opcoes-a" href="">Contato</a>
                <a class="opcoes-a" href="">Funções </a>
             </div>
             <!--Div botoes de login e logout-->
             <div class="login-logout">
               <button class="button-login" onclick="window.location.href='/login'">Login</button>
               <button class="button-cadastro" onclick="window.location.href='/logout'">Cadastrar-se</button>
           
             </div>
            </nav>
        </header>
        <section class="informacoes">
        <div class="informacoes-geral">
          <h1>Transforme a gestão da sua escola com inovação e simplicidade.</h1>
          <p>A Unetec é uma plataforma desenvolvida para modernizar a comunicação escolar, organizar eventos, automatizar tarefas administrativas e facilitar o acompanhamento da vida escolar.Com uma interface intuitiva, conectamos alunos, professores e gestores em um só lugar, tornando o ambiente escolar mais integrado, produtivo e eficiente. Simplifique processos, otimize o tempo e fortaleça a relação entre escola e comunidade.</p>
          <button class="button-entrar" onclick="window.location.href='/login'">Entrar</button>
        </div>
        <div class="imagem-inicial">
         <img src="/imagens/img-home.svg" alt="imagem-inicial">
        </div>
        </section>
     
    </main>
</body>
</html> 