<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/admin/formCardapio.css">

    <link rel="stylesheet" href="/css/models/variavies.css">
    <title>Unetec</title>
</head>

<body>
    <nav>
        <button class="button-nav" onclick="window.location.href='/dashbordCardapioAdmin'"><img
                src="/imagens/setaEsquerda-icon.svg"> Voltar</button>
    </nav>
    <section class="section-form">
        <div class="logo">
            <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
        </div>
        <p>Preencha as informaçoes do cardápio</p>
        <form id="form" method="post">
            <input type="text" id="segunda" class="inputs" name="segunda" placeholder="Informe o prato da Segunda-feira"
                required>
            <input type="text" id="terca" class="inputs" name="terca" placeholder="Informe o prato da Terça-feira"
                required>
            <input type="text" id="quarta" class="inputs" name="quarta" placeholder="Informe o prato da Quarta-feira">
            <input type="text" id="quinta" class="inputs" name="quinta" placeholder="Informe o prato da Quinta-feira">
            <input type="text" id="sexta" class="inputs" name="sexta" placeholder="Informe o prato da Sexta-feira">
            <input type="submit" value="Criar cardápio" class="button-submit">
        </form>
    </section>
    <script src="/js/public/darkMode.js"></script>
    <script src="/js/admin/cardapioForm.js"></script>
</body>

</html>