<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href=" /css/adminItaquera/formEditCardapio.css">
    <title>Unetec</title>
</head>

<body>
    <section class="section-form">
        <div class="logo">
            <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
        </div>
        <p>Preencha as informaçoes para<br>editar cardápio</p>
        <form id="form" method="post">
            <input list="Campos" id="camposDias" class="inputs" name="campos"
                placeholder="Escolha o campo que deseja editar" required>
            <datalist id="Campos">
                <option value="segunda">Segunda-feira</option>
                <option value="terca">Terca-feira</option>
                <option value="quarta">Quarta-feira</option>
                <option value="quinta">Quinta-feira</option>
                <option value="sexta">Sexta-feira</option>
            </datalist>
            <label id="label-campos" class="label-text"></label>
            <input type="text" id="descricao" class="inputs" name="descricao"
                placeholder="Informe a alteracão do campo">
            <input type="submit" value="Editar cardápio" class="button-submit">
        </form>
    </section>
    <script src="/js/admin/cardapioFormEditAdmin.js"></script>
</body>

</html>