@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-poppins);
}

:root {
    --pretao: black;
    --vermelhao: #ff3131;
    --vermelho-escuro: #ad3030;
    --brancolas: white;
    --cinzolas: #d9d9d9;
    --cinzao: #5f5f5f;
    --cinzaescurinho: #cfcfcf;
    --fonte-poppins: "Poppins", sans-serif;
    --sombra: rgba(0, 0, 0, 64%);
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../../imagens/fundo-login-logout.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pretao);
}

nav {
    width: 93%;
    height: 85vh;
    display: flex;
    align-items: start;

}

.button-nav {
    width: 90px;
    height: 8vh;
    background-color: var(--vermelhao);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-family: var(--fonte-poppins);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 20px;
    }

}


.section-form {
    width: 30%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    background-color: var(--brancolas);
    box-shadow: 0 0 13px var(--sombra);
    border-radius: 10px;
    font-family: var(--fonte-poppins);
    position: fixed;
}

.logo {
    font-family: var(--fonte-poppins);
    font-size: larger;
}

.letra-preta {
    color: var(--pretao);
}

.letra-vermelha {
    color: var(--vermelhao);
}

#form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.inputs {
    width: 180%;
    max-width: 350px;
    height: 6vh;
    outline: 0;
    padding-left: 5px;
    border-radius: 10px;
}

.button-submit {
    width: 140px;
    height: 5vh;
    background-color: var(--vermelhao);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    font-family: var(--fonte-poppins);
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.button-submit:hover {
    background-color: var(--vermelho-escuro);
}