@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-poppins);
}

:root {
    --pretao: black;
    --vermelhao: #ff3131;
    --vermelho-escuro: #ad3030;
    --brancolas: white;
    --cinzolas: #d9d9d9;
    --cinzao: #5f5f5f;
    --cinzaescurinho: #cfcfcf;
    --fonte-poppins: "Poppins", sans-serif;
}

.dashbord {
    width: 84%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cinzaescurinho);
}

.nav-dashbord {
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--brancolas) solid 5px;
    border-radius: 1px;
    color: var(--pretao);
}

.mensagens-chat {
    width: 102%;
    max-width: 101.5%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 15px;
}

.mensagem-item {
    max-width: 60%;
    padding: 8px 12px;
    background-color: var(--brancolas);
    border-radius: 18px;
    word-wrap: break-word;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
}

.mensagem-minha {
    align-self: flex-end;
    background-color: var(--vermelhao);
    color: var(--brancolas);
}

.mensagem-nome {
    font-size: 12px;
    font-weight: 600;
    color: var(--cinzao);
    margin-bottom: 3px;
}

.mensagem-minha .mensagem-nome {
    color: var(--pretao);
}

.mensagem-texto {
    font-size: 16px;
    color: var(--pretao);
}

.mensagem-minha .mensagem-texto {
    color: var(--brancolas);
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}

.input {
    width: 60rem;
    height: 7vh;
    border-radius: 25px;
    border: none;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    padding-left: 15px;
    margin-bottom: 10px;
}

.button-env {
    width: 6rem;
    height: 7vh;
    border: none;
    background-color: var(--vermelhao);
    border-radius: 25px;
    color: var(--pretao);
    font-size: large;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(82, 82, 82, 0.4);
    border-radius: 10px;
}