@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fonte-poppins);
}

:root {
    --pretao: black;
    --vermelhao: #ff3131;
    --vermelho-escuro: #ad3030;
    --brancolas: white;
    --cinzolas: #d9d9d9;
    --cinzao: #5f5f5f;
    --cinzaescurinho: #cfcfcf;
    --fonte-poppins: "Poppins", sans-serif;
}

svg {
    fill: var(--pretao);
}

body {
    width: 100%;
    height: 100vh;
    color: var(--pretao);
}

main {
    width: 100%;
    height: 100vh;
    background-color: var(--vermelhao);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aba-padrao {
    width: 16%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--brancolas);
    gap: 30%;
}

.aba-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.aba-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.logo {
    font-family: var(--fonte-poppins);

}

.letra-preta {
    color: var(--pretao);
}

.letra-vermelha {
    color: var(--vermelhao);
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.style-button1 {
    width: 12rem;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--brancolas);
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--pretao);
    border-radius: 15px;
}

.style-button1:hover {
    background-color: var(--cinzolas);
}

.dashbord {
    width: 84%;
    height: 100vh;
    background-color: var(--cinzaescurinho);
}